{% extends 'base.html' %}

{% block titel %}Florian Mantel{% endblock %}

{% block body %}

<h1>Florian Mantel</h1>

<div class="cv">

    <table cellspacing="10px" align="center">
            <tr>
                <td>Birthdate:</td>
                <td>26.02.1990</td>
            </tr>
            <tr>
                <td>Born in:</td>
                <td>Schweinfurt</td>
            </tr>
            <tr>
                <td>Raised in:</td>
                <td>Buch</td>
            </tr>
            <tr>
                <td>Hobby:</td>
                <td>Foodie, <br> Music(listening), <br> meeting Friends</td>
            </tr>
            <tr>
                <td>Pronous</td>
                <td>He/Him </td>
            </tr>
    </table>
    <div class="about">
        <img src="static/image/look_up.jpeg" alt="Florian looking up">
    </div>
</div>


    <article>
        <p>I would descripe myself as a polite, friendly and honest person. Learning something complete new makes a lot of fun actually. :)</p>
        <p>If you want learn more about my person - use the 'Send me an email' Button on the home page</p>
    </article>


<br><br>
<div class="back">
    <nav>
        <button><a href="/"> Go Back</a></button>
    </nav>
</div>

{% endblock %}

