{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='static/css/header.css'>
{% endblock %}

{% block title %}Landing Page{% endblock %}

{% block body %}
    <h1>Welcome to my Website</h1> 

    <div class='button'>
        <nav>
            <button><a href="/flo-ma">F.M.</a></button>
            <button><a href="/profession">Profession</a></button>
        </nav>
    </div>

    <br>

    <div class='intro'>
        <img src='static/image/funny.jpeg' alt='Florian looking with big eyes in the camera'>   
            <br>
            <div class="text">    
            <article> 
                Hello, my Name is Florian Mantel. I want to improve my Flask skills for this reason I want to create a small web-application. I will talk a bit about myself and my carrerr as a chef and my decision to leave the hospitallity industry.
                <br><br>
                I hope you have the same fun as me during the programming.
            </article>
        </div>
            <br>
        <img src='static/image/firework.jpeg' alt='Florian with firework in his mouth'>
    </div>

    <br>

    <div class="shop">
        <ul margin="auto">
            {% for value in category %}

                <li>
                    <a href="/category/{{value.id}}"> {{ value.name }}</a>
                    
                </li>
            {% endfor %}
                <li>
                    <a href="/form">Create a new Recipe</a>
        </ul>
    </div>
    <br><br>

    <div class="container">
        <button type="submit" onclick="openPopup()">Submit</button>
        <div class="popup" id="popup">
            <h2>Florian Mantel</h2>
            <br>
            <p>This and That Road 92</p>
            <p>10245 Berlin</p>
            <p>#+49reachouttome67</p>
            <br>
            <button type="button" onclick="closePopup()">Ok</button>
        </div>
    </div>

    <br><br>

    <div class="mail">
        <a href="mailto: florian.mantel@yahoo.de?subject=Mail from my Website">Send me an email</a>
    </div>
    <script>
        let popup = document.getElementById("popup");

        function openPopup(){
            popup.classList.add("open-popup")
        }

        function closePopup(){
            popup.classList.remove("open-popup");
        }
    </script>



{% endblock %}