{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel='stylesheet' href='../static/css/main.css'>
    <style>
        
        li {
            font-size: 20px;
        }
        li:hover {
            font-size: 40px;
        }

    </style>
        
    {% block title %}Profession{% endblock %}
{% endblock %}
{% block body %}

<h1>Restaurants I worked in...</h1>

<div class="profession">
    <ul margin="0 auto" list-style-type="none" class="list">

        {% for profession in  work %}
        <li>
            {{ profession.name }}, {{ profession.employed }}
        </li>
        {% endfor %}
    </ul>

    <div class="foto">
        <img src="../static/image/chef_funny.jpg" alt="Florian at Bergmannstraßenfest in the kitchen">
    </div>
</div>
    <br><br>

    <div class="back">
    <nav>
        <button><a href="/"> Go Back</a></button>
    </nav>
    </div>
    
{% endblock %}